<% if current_user && scrivito_in_editable_view? %>
  <%= link_to "Log out of Scrivito", logout_path, method: :delete %>
<% end %>
<nav class="navbar transparent navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(scrivito_image_tag(@obj, :logo, class: "navbar-left"), '/') %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="navbar-collapse-1">
      <%= scrivito_tag_list(:ul, Obj.root, :toclist, class: "nav navbar-nav navbar-right") do |list, page| %>
        <%= list.tag :li do %>
          <%= link_to page.display_title, scrivito_path(page), class: "nav-button" %>
        <% end %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'HOME', "/", class: "nav-button" %></li>
        <% if current_user && !scrivito_in_editable_view? %>
          <li><%= link_to 'LOG OUT', logout_path, method: :delete, class: "nav-button" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
