<!DOCTYPE html>
<html>
  <head>
    <title>AvenueScrivito</title>
    <%= scrivito_head_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900,300italic,400italic|Raleway:100,200,300,400,500,600,700,800,900,300italic,400italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  </head>

  <body>
    <%= yield %>
    <%= scrivito_body_tags %>
  </body>
</html>
